html {
    -webkit-locale: "ru";
}
body {
    width: 100%;
    padding-top: 50px;
    background-image: url(https://bad-code-org.github.io/sky-desert-website/images/background.webp);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
article {
    width: 56%;
    margin-left: 22%;
    margin-right: 22%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: rgba(255,255,255,0.1);
}
article p {
    padding-right: 20px;
    padding-left: 20px;
}
#mainheader {
    text-align: center;
    color: white;
}
#mainembed {
    width: 56%;
    height: 167px;
    margin-left: 22%;
    border-radius: 3px;
}

.button_styled_link {
    color: white;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    text-decoration: none;
    background-color: #333333;
    transition: background-color 0.1s ease-out;
}
.button_styled_link:hover {
    background-color: grey;
}
.button_styled_link:active {
    background-color: DimGray;
}

@media screen and (max-width: 900px) {
    article {
        width: 80%;
        margin-left: 10%;
    }
    #mainembed {
        width: 80%;
        margin-left: 10%;
    }
    .aside_right
    {
        display: flex;
    }
}

.aside_right {
    right: 0;
    top: 50px;
    position: fixed;
}

@media screen and (max-width: 500px) {
    article {
        width: 94%;
        margin-left: 3%;
    }
    #mainembed {
        width: 94%;
        margin-left: 3%;
    }
    .aside_right
    {
        display: none;
    }
}