html {
    -webkit-locale: "ru";
}
body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0;
}

article {
    width: 56%;
    margin-left: 22%;
    margin-right: 22%;
    margin-top: 10px;
    margin-bottom: 10px;
}
article p {
    padding-right: 20px;
    padding-left: 20px;
}
article section {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}
article section p {
    padding-right: 20px;
    padding-left: 20px;
}

article table tr td {
    padding-left: 10px;
    padding-right: 10px;
}

article table {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid white;
}

.system_requirements_tables_parent {
    display: flex;
}

#sdembed {
    width: 56%;
    height: 167px;
    margin-left: 22%;
    border-radius: 4px;
}

.aside_right {
    right: 0;
    top: 50px;
    width: 21%;
    position: fixed;
}

#discord_widget {
    padding: 0;
    width: 100%;
}
#discord_widget iframe {
    width: 100%;
    height: 500px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    backdrop-filter: blur(32px);
    padding: 20px;
}
footer p {
    margin: 0;
}

a {
    color: white;
    transition: color 0.1s ease-out;
}

a:hover {
    color: LightGray;
}
a:active {
    color: DarkGray;
}

header {
    margin: 0;
    padding-bottom: 0.67em;
    text-align: center;
}

/* text colors */
red {
    color: red;
}
blink {
    animation: blink 1s step-end infinite;
}
@keyframes blink {  67% { opacity: 0 }}

@media screen and (max-width: 1150px) {
    header p {
        width: 78%;
        margin-left: 11%;
        margin-right: 11%;
    }
    article {
        width: 78%;
        margin-left: 11%;
        margin-right: 11%;
    }
    .aside_right {
        position: unset;
        width: 78%;
        margin-left: 11%;
        margin-right: 11%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #sdembed {
        width: 78%;
        margin-left: 11%;
        margin-right: 11%;
        height: 167px;
        border-radius: 4px;
    }
}
@media screen and (max-width: 800px) {
    footer {
        position: unset;
        width: auto;
        backdrop-filter: none;
    }
}
@media screen and (max-width: 450px) {
    header p {
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }
    article {
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }
    .aside_right {
        position: unset;
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #sdembed {
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
        height: 167px;
        border-radius: 4px;
    }
}
