nav {
    top: 0px;
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: #333333;
    transition: left 0.1s ease-out;
}
.fakenavbar {
    top: 0px;
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: #333333;
}
nav .nav_item_current {
    color: white;
    font-weight: bold;
    display: inline-block;
    height: 35px;
    text-align: center;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    transition: background-color 0.1s ease-out;
    background-color: grey;
}
nav .nav_item_current:active {
    background-color: DimGray;
}
nav .nav_item {
    color: white;
    font-weight: bold;
    display: inline-block;
    height: 35px;
    text-align: center;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    transition: background-color 0.1s ease-out;
}
nav .nav_item:hover {
    background-color: grey;
}
nav .nav_item:active {
    background-color: DimGray;
}
nav .nav_close_button {
    display: none;
    color: white;
    font-weight: bold;
    height: 35px;
    text-align: left;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    transition: background-color 0.1s ease-out;
}
nav .nav_close_button:hover {
    background-color: grey;
}
nav .nav_close_button:active {
    background-color: DimGray;
}
nav .nav_right_items_box {
    top: 0;
    right: 0;
    height: 50px;
    position: fixed;
    display: flex;
    justify-content: end;
}

@media screen and (max-width: 800px) {
    nav {
        left: -360px;
        width: 360px;
        min-height: 100%;
        position: fixed;
    }
    nav:target {
        left: 0px;
    }
    nav .nav_close_button {
        display: block;
    }
    nav .nav_item_current {
        display: block;
        height: 35px;
        text-align: left;
    }
    nav .nav_item {
        display: block;
        height: 35px;
        text-align: left;
    }
    nav .nav_right_items_box {
        height: 50px;
        position: unset;
        display: block;
    }
}
