nav {
    top: 0px;
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: #333333;
}
nav #navcurrent {
    color: white;
    font-weight: bold;
    display: inline-block;
    height: 35px;
    text-align: center;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    background-color: grey;
    transition: background-color 0.1s ease-out;
}
nav #navcurrent:active {
    background-color: DimGray;
}
nav .navleft {
    color: white;
    font-weight: bold;
    display: inline-block;
    height: 35px;
    text-align: center;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    transition: background-color 0.1s ease-out;
}
nav .navleft:hover {
    background-color: grey;
}
nav .navleft:active {
    background-color: DimGray;
}

nav .navright {
    position: fixed;
    right: 0px;
    color: white;
    font-weight: bold;
    display: inline-block;
    width: 60px;
    height: 35px;
    text-align: center;
    padding-top: 15px;
    text-decoration: none;
}
nav .navright:hover {
    background-color: grey;
}

@media screen and (max-width: 1000px) {
    nav .navleft {
        visibility: hidden;
    }
    nav #navcurrent {
        visibility: hidden;
    }
} 