nav {
    top: 0px;
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: #333333;
}
nav #navcurrent {
    color: white;
    font-weight: bold;
    display: inline-block;
    height: 35px;
    text-align: center;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    background-color: grey;
    transition: background-color 0.1s ease-out;
}
nav #navcurrent:active {
    background-color: DimGray;
}
nav .navleft {
    color: white;
    font-weight: bold;
    display: inline-block;
    height: 35px;
    text-align: center;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    transition: background-color 0.1s ease-out;
}
nav .navleft:hover {
    background-color: grey;
}
nav .navleft:active {
    background-color: DimGray;
}

nav .navright {
    position: fixed;
    right: 0px;
    color: white;
    display: inline-block;
    width: 60px;
    height: 35px;
    text-align: center;
    padding-top: 15px;
}
nav .navright:hover {
    color: silver;
}

nav #sidebar_open {
    width: 50px;
    height: 100%;
    display: none;
    visibility: hidden;
}

/*
@media screen and (max-width: 1000px) {
    nav .navleft {
        display: none;
        visibility: hidden;
    }
    nav #navcurrent {
        display: none;
        visibility: hidden;
    }
    nav #sidebar_open {
        display: inline-block;
        visibility: visible;
    }
}
*/

#sidebar {
    top: 0px;
    left: -320px;
    width: 320px;
    height: 100%;
    position: fixed;
    background-color: #333333;
    transition: left 0.1s ease-out;
}
#sidebar:target {
    left: 0px;
}
#sidebar #sidebar_close {
    display: block;
}
#sidebar #sidebar_close img {
    transform: rotate(45deg);
}
#sidebar #sidebarcurrent {
    color: white;
    font-weight: bold;
    display: block;
    height: 35px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    background-color: grey;
    transition: background-color 0.1s ease-out;
}
#sidebar .sidebaritem {
    color: white;
    font-weight: bold;
    display: block;
    height: 35px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    transition: background-color 0.1s ease-out;
}
#sidebar .sidebaritem:hover {
    background-color: grey;
}
#sidebar .sidebaritem:active {
    background-color: DimGray;
}
#sidebar #sidebarcurrent:active {
    background-color: DimGray;
}