html {
    -webkit-locale: "ru";
}
body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
    transition: color 0.1s ease-out;
}

a:hover {
    color: LightGray;
}
a:active {
    color: DarkGray;
}

header {
    margin: 0;
    padding-bottom: 0.67em;
    text-align: center;
}

/* text colors */
red {
    color: red;
}
blink {
    animation: blink 1s step-end infinite;
}
@keyframes blink {  67% { opacity: 0 }}
